<!doctype html>
<html class="no-js" lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/libs/bootstrap/dist/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/libs/@fortawesome/fontawesome-free/css/fontawesome.min.css}">
  <link rel="stylesheet" th:href="@{/libs/icon-kit/dist/css/iconkit.min.css}">
  <link rel="stylesheet" th:href="@{/libs/ionicons/dist/css/ionicons.min.css}">
  <link rel="stylesheet" th:href="@{/libs/perfect-scrollbar/css/perfect-scrollbar.css}">
  <link rel="stylesheet" th:href="@{/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" th:href="@{/libs/jvectormap/jquery-jvectormap.css}">
  <link rel="stylesheet" th:href="@{/libs/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css}">
  <link rel="stylesheet" th:href="@{/libs/weather-icons/css/weather-icons.min.css}">
  <link rel="stylesheet" th:href="@{/libs/c3/c3.min.css}">
  <link rel="stylesheet" th:href="@{/libs/owl.carousel/dist/assets/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/libs/owl.carousel/dist/assets/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/css/theme.min.css}">
  <script th:href="@{/libs/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>

  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="wrapper">
    <header th:replace="fragments/header :: header">
    </header>
  </div>

</body>

</html>