<!DOCTYPE html>
<html lang="pt-BR">

<!-- Incluindo o fragmento do head -->
<th:block th:replace="fragments/head :: head"></th:block>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="wrapper">
    <th:block th:replace="fragments/header:: header"></th:block>
    <div class="page-wrap">
      <th:block th:replace="fragments/sidebar:: sidebar"></th:block>
      <div class="main-content">
        <div class="card mb-0 pb-0">
          <div class="card-header">
            <h3 th:text="${title}"></h3>
          </div>
          <div class="card-body">
            <form method="post" th:object="${serviceForm}" class="forms-sample">
              <div class="form-group row">
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="name">Serviço:</label>
                  <input type="text" id="name" th:field="*{name}" class="form-control form-control-lg"
                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="minimumPrice">Valor mínimo:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{minimumPrice}"
                    th:classappend="${#fields.hasErrors('minimumPrice') ? 'is-invalid' : ''}"
                    aria-describedby="minimumPriceHelp">
                  <div th:if="${#fields.hasErrors('minimumPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('minimumPrice')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="quantityOfHours">Quantidade de horas:</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{quantityOfHours}"
                    th:classappend="${#fields.hasErrors('quantityOfHours') ? 'is-invalid' : ''}"
                    aria-describedby="quantityOfHoursHelp">
                  <div th:if="${#fields.hasErrors('quantityOfHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('quantityOfHours')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="commissionPercentage">Porcentagem por comissão:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{commissionPercentage}"
                    th:classappend="${#fields.hasErrors('commissionPercentage') ? 'is-invalid' : ''}"
                    aria-describedby="commissionPercentageHelp">
                  <div th:if="${#fields.hasErrors('commissionPercentage')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('commissionPercentage')}" th:text="${err}"></p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="roomHours">Horas por quarto:</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{roomHours}"
                    th:classappend="${#fields.hasErrors('roomHours') ? 'is-invalid' : ''}"
                    aria-describedby="roomHoursHelp">
                  <div th:if="${#fields.hasErrors('roomHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('roomHours')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="roomPrice">Valor por quarto:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{roomPrice}" 
                         th:classappend="${#fields.hasErrors('roomPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('roomPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('roomPrice')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="livingAreaHours">Horas por sala</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{livingAreaHours}" 
                         th:classappend="${#fields.hasErrors('livingAreaHours') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('livingAreaHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('livingAreaHours')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="livingAreaPrice">Valor por sala:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{livingAreaPrice}"
                         th:classappend="${#fields.hasErrors('livingAreaPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('livingAreaPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('livingAreaPrice')}" th:text="${err}"></p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="bathroomHours">Horas por banheiro:</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{bathroomHours}"
                         th:classappend="${#fields.hasErrors('bathroomHours') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('bathroomHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('bathroomHours')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="bathroomPrice">Valor do banheiro:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{bathroomPrice}"
                         th:classappend="${#fields.hasErrors('bathroomPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('bathroomPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('bathroomPrice')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="kitchenHours">Horas por cozinha:</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{kitchenHours}"
                         th:classappend="${#fields.hasErrors('kitchenHours') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('kitchenHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('kitchenHours')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="kitchenPrice">Valor da cozinha:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{kitchenPrice}"
                         th:classappend="${#fields.hasErrors('kitchenPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('kitchenPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('kitchenPrice')}" th:text="${err}"></p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="yardHours">Horas por quintal:</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{yardHours}"
                         th:classappend="${#fields.hasErrors('yardHours') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('yardHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('yardHours')}" th:text="${err}"></p>
                  </div>
                </div>
                
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="yardPrice">Valor do quintal:</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{yardPrice}"
                         th:classappend="${#fields.hasErrors('yardPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('yardPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('yardPrice')}" th:text="${err}"></p>
                  </div>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="othersHours">Horas (Outros):</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{othersHours}"
                         th:classappend="${#fields.hasErrors('othersHours') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('othersHours')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('othersHours')}" th:text="${err}"></p>
                  </div>
                </div>     
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="othersPrice">Valor (Outros):</label>
                  <input type="text" class="form-control form-control-lg money" th:field="*{othersPrice}"
                         th:classappend="${#fields.hasErrors('othersPrice') ? 'is-invalid' : ''}">
                  <div th:if="${#fields.hasErrors('othersPrice')}" class="invalid-feedback">
                    <p class="pb-0 mb-0 font-weight-bold" th:each="err : ${#fields.errors('othersPrice')}" th:text="${err}"></p>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="icon">Ícone</label>
                  <select class="form-control" th:field="*{icon}">
                    <option value="" disabled selected>Selecione um ícone</option>
                    <option th:each="icon : ${icons}" th:text="${icon.name}" th:value="${icon}"></option>
                  </select>
                </div>
                <div class="col-md-12 col-lg-3 col-sm-12 mb-20">
                  <label for="position">Posição</label>
                  <input type="number" class="form-control form-control-lg" th:field="*{position}">
                </div>
              </div>
              <button type="submit" class="btn"
                th:classappend="${buttonAction == 'create' ? 'btn-success' : 'btn-primary'}"
                th:text="${buttonAction == 'create' ? 'Cadastrar' : 'Atualizar'}">
              </button>
            </form>
          </div>
        </div>
      </div>
      <th:block th:replace="fragments/footer:: footer"></th:block>
    </div>
    <div>
      <th:block th:replace="fragments/scripts :: scripts"></th:block>
    </div>
</body>

</html>