<!DOCTYPE html>
<html lang="pt-BR">

<th:block th:replace="fragments/head :: head"></th:block>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="wrapper">
    <th:block th:replace="fragments/header:: header"></th:block>
    <div class="page-wrap">
      <th:block th:replace="fragments/sidebar:: sidebar"></th:block>
      <div class="main-content">
        <div class="card">
          <div class="card-header">
            <h3>Serviços</h3>
          </div>
          <div class="card-body">
            <table id="serviceTable" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Serviço</th>
                  <th>Valor Mínimo</th>
                  <th class="nosort">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="service : ${services}">
                  <td th:text="${service.id}"></td>
                  <td th:text="${service.name}"></td>
                  <td th:text="${service.minimumPrice}"></td>
                  <td>
                    <div class="table-actions">
                      <a><i class="ik ik-edit-2"></i></a>
                      <a th:href="@{/admin/servicos/{id}/excluir(id=${service.id})}"
                      onclick="return confirm('Tem certeza de que deseja excluir este serviço? Esta ação é irreversível e os dados não poderão ser recuperados.')">
                        <i class="ik ik-trash-2"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <th:block th:replace="fragments/footer:: footer"></th:block>
    </div>
  </div>
  <div>
    <th:block th:replace="fragments/scripts :: scripts"></th:block>
  </div>
</body>

</html>