<div class="app-sidebar colored" th:fragment="sidebar">
  <div class="sidebar-header">
    <a class="header-brand" href="index.html">
      <div class="logo-img">
        <img th:src="@{/img/brand-white.svg}" class="header-brand-img" alt="lavalite">
      </div>
      <span class="text">diaristas</span>
    </a>
  </div>

  <div class="sidebar-content">
    <div class="nav-container">
      <nav id="main-menu-navigation" class="navigation-main">
        <div class="nav-lavel">Navigation</div>
        <div class="nav-item active">
          <a href=""><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
        </div>
        <div class="nav-lavel">UI Element</div>
        <div class="nav-item has-sub">
          <a href="#"><i class="ik ik-box"></i><span>Serviços</span></a>
          <div class="submenu-content">
            <a href="" class="menu-item">Alerts</a>
            <a href="" class="menu-item">Badges</a>
            <a href="" class="menu-item">Buttons</a>
            <a href="" class="menu-item">Navigation</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>