<div class="app-sidebar colored" th:fragment="sidebar">
  <div class="sidebar-header">
    <a class="header-brand" href="/admin">
      <div class="logo-img">
        <img th:src="@{/img/brand-white.svg}" class="header-brand-img" alt="ediaristas">
      </div>
      <span class="text">diaristas</span>
    </a>
  </div>

  <div class="sidebar-content">
    <div class="nav-container">
      <nav id="main-menu-navigation" class="navigation-main">
        <div class="nav-item" th:classappend="${currentUrl == '/admin/' || currentUrl == '/admin' ? 'active' : ''}">
          <a href="/admin"><i class="ik ik-bar-chart-2"></i><span>Visão Geral</span></a>
        </div>
        <div class="nav-item has-sub" th:classappend="${(currentUrl != null and currentUrl.startsWith('/admin/servicos')) ? 'open active' : ''}">
          <a href="#"><i class="ik ik-package"></i><span>Serviços</span></a>
          <div class="submenu-content">
            <a th:href="@{/admin/servicos}" class="menu-item"
              th:classappend="${currentUrl == '/admin/servicos' || currentUrl == '/admin/servicos/' ? 'active' : ''}">
              Ver todos
            </a>
            <a th:href="@{/admin/servicos/cadastrar}" class="menu-item"
              th:classappend="${currentUrl == '/admin/servicos/cadastrar' || currentUrl == '/admin/servicos/cadastrar/' ? 'active' : ''}">
              Novo Serviço
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
